.livre{
    min-width: 20rem;
    max-width: 20rem;
}

.livre-prix{
    font-weight : 500;
    border-radius: 20px 20px 20px 0;
    color: white;
    background-color : #31b572;
    padding: 5px 10px;
}